<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header class="container-fluid gx-0">
      <navigation-container
        class="navbar navbar-dark bg-dark"
        brandName="<%= brandName %>"
      ></navigation-container>
    </header>

    <main
      class="container-fluid gx-0 vh-95 d-flex flex-column"
      style="
        background-image: url('/img/maegan-martin-6nsGg3Iw37c-unsplash.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      "
    ></main>

    <footer class="container-fluid bg-dark text-white py-2 d-flex justify-content-center">
      <div class="row align-items-center pt-2">
        <div class="col"><%= footerContent %></div>
      </div>
    </footer>
  </body>
</html>
