<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header class="container-fluid gx-0">
      <navigation-container
        class="navbar navbar-dark bg-dark"
        brandName="<%= brandName %>"
      ></navigation-container>
    </header>

    <main class="container gx-0 my-3">
      <h1 class="my-3 text-center">Tambah Story</h1>

      <form class="row g-0 border border-dark rounded p-4" id="addStoryForm" novalidate>
        <div class="col-12 g-3">
          <label for="validationStoryName" class="form-label">Nama</label>
          <input
            type="text"
            class="form-control"
            id="validationStoryName"
            placeholder="Masukkan nama "
            required
          />
          <div class="invalid-feedback">Wajib diisi</div>
        </div>

        <div class="col-12 g-3">
          <label for="validationCustomDate" class="form-label">Tanggal</label>
          <div class="input-group has-validation">
            <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
            <input type="datetime-local" class="form-control" id="validationCustomDate" required />
            <div class="invalid-feedback">Wajib diisi</div>
          </div>
        </div>

        <div class="col-12 g-3">
          <label for="validationPictureStory" class="form-label">Photo</label>
          <input
            type="file"
            class="form-control"
            id="validationPictureStory"
            accept="image/*"
            required
          />
          <div class="invalid-feedback">Wajib diisi</div>
        </div>

        <div class="col-12 g-3">
          <label for="validationCustomNotes" class="form-label">Deskripsi</label>
          <textarea
            class="form-control"
            id="validationCustomNotes"
            rows="3"
            required
            placeholder="Deskripsi cerita anda"
          ></textarea>
          <div class="invalid-feedback">Wajib diisi</div>
        </div>

        <div class="col-12 text-center g-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </main>

    <footer class="container-fluid bg-dark text-white py-2 d-flex justify-content-center">
      <div class="row align-items-center pt-2">
        <div class="col"><%= footerContent %></div>
      </div>
    </footer>
  </body>
</html>
