<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header class="container-fluid gx-0">
      <navigation-container
        class="navbar navbar-dark bg-dark"
        brandName="<%= brandName %>"
      ></navigation-container>
    </header>

    <main class="container gx-0 my-3">
      <h1 class="my-3 text-center">Tambah Story</h1>

      <form-container id="addStoryForm"></form-container>
    </main>

    <footer-container
      class="container-fluid bg-dark text-white py-2 d-flex justify-content-center"
      content="This website is created with love by David Pinarto"
    >
    </footer-container>
  </body>
</html>
